<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228956391717-2o2kd6p5sb5c8ksf4t2k7uopb0u6bpks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228956391717-2o2kd6p5sb5c8ksf4t2k7uopb0u6bpks</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-Ql9htthYzpVkOAlJOFoslmWZsdJrMg</string>
	<key>GCM_SENDER_ID</key>
	<string>228956391717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EnesTy.InstaCloneWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-cd580</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-cd580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228956391717:ios:d3cf8fa272c8c9917d32cc</string>
</dict>
</plist>